@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  transition: 0.4s ease-in;
}

body {
  margin: 0;
  font-family: "quicksand";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#menubar {
  position: relative;
}

#menubar::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  transition: width 0.2s ease-out;
  background: #fff;
}

#menubar:hover::before {
  width: 100%;
}

#float-button {
  transition: 0.3s ease;
}

.float-home-open {
  opacity: 1;
  visibility: visible;
  transform: translateY(-122px);
  transition: 0.3s ease;
}

.float-about-open {
  opacity: 1;
  visibility: visible;
  transform: translateY(-84px);
  transition: 0.3s ease;
}

.float-projects-open {
  opacity: 1;
  visibility: visible;
  transform: translateY(-46px);
  transition: 0.3s ease;
}

.float-home-close,
.float-about-close,
.float-projects-close {
  opacity: 0;
  visibility: hidden;
  transform: translateY(0);
  transition: 0.3s ease;
}
